<aside class="menu">
  <p class="menu-label">
    Loket
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= root_url %>">Home</a>
    </li>
  </ul>
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= dashboard_url %>">Events</a>
      <ul>
        <li><a class="has-text-grey-light" href="<%= new_event_url %>">Add new Event</a></li>
      </ul>
    </li>
    <p class="menu-label">
      User
    </p>
    <ul class="menu-list">
      <li>
        <%= link_to "Logout".html_safe, logout_path, method: :delete %>
      </li>
    </ul>
  </ul>
</aside>
