<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= dashboard_url %>">Events</a>
      <ul>
        <li><a>Add new Event</a></li>
        <li><a>Tickets</a></li>
      </ul>
    </li>
    <li>
      <a>Locations</a>
      <ul>
        <li><a>Add new Location</a></li>
      </ul>
    </li>
    <p class="menu-label">
      User
    </p>
    <ul class="menu-list">
      <li><a>Logout</a></li>
    </ul>
  </ul>
</aside>
