<% if flash[:success] %>
<div class="notification is-info">
  <button class="delete delete_notification"></button>
  <%= flash[:success].html_safe %>
</div>
<% end %>
<% if flash[:error] %>
<div class="notification is-danger">
  <button class="delete delete_notification"></button>
  <%= flash[:error] %>
</div>
<% end %>

