<div class="container">
  <h2 class="has-text-centered">Welcome to Event Management<h2>
  <div class="has-text-centered">
    <a class="button is-info">Login to Create an Event</a> or <a class="button is-dark">See all Events</a>
  </div>
</div>
