<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= dashboard_url %>">Events</a></li>
    <li class="is-active"><a href="#" aria-current="page"><%= breadcrumb_var %></a></li>
  </ul>
</nav>

