<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="<%= dashboard_url %>">Events</a></li>
    <li><a href="<%= event_url(breadcrumb_var_id) %>">
        <%= breadcrumb_var %></a>
    </li>
    <li class="is-active"><a href="#" aria-current="page"><%= breadcrumb_var_current %></a></li>
  </ul>
</nav>

