<h2 class="title">Your Events</h2>
<% if @event.count >= 1 %>
  <% @event.each do |e| %>
    <div class="columns">
      <div class="column is-8">
        <%= e.name %>
      </div>
      <div class="column">
        <a href="#" class="button is-dark">Edit</a>
        <a href="#" class="button is-danger">Delete</a>
      </div>
    </div>
    <hr/>
  <% end %>
<% else %>
  You haven't create an Event.<br/>
  <a href="<%= new_event_url %>" class="button is-info">Create Event</a>
<% end %>

