<h2 class="title">Your Events</h2>
<div id="event_content">
  <% if @event.count >= 1 %>
    <% @event.each do |e| %>
      <div class="columns">
        <div class="column is-8">
          <a class="is-size-6" href="<%= event_url(e.id) %>"><%= e.name %></a>
        </div>
        <div class="column">
          <a href="#" class="button is-small is-dark">Edit</a>
          <a href="<%= event_url(e.id) %>" data-method="delete" class="button is-small is-danger">Delete</a>
        </div>
      </div>
      <hr/>
    <% end %>
  <% else %>
    You haven't create an Event.<br/>
    <a href="<%= new_event_url %>" class="button is-info">Create Event</a>
  <% end %>
</div>
