<h2 class="title">Edit Location</h2>
<%= form_for @default_location, url: {action: "update"} do |f| %>
  <div class="field">
    <label class="label">Location Name</label>
    <div class="control has-icons-left">
      <%= f.text_field :name, class: "input", value: @default_location.location.name %>
      <span class="icon is-small is-left">
        <i class="fa fa-map"></i>
      </span>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Location Description</label>
    <div class="control has-icons-left">
      <%= f.text_field :description, class: "input", 
        value: @default_location.description %>
      <span class="icon is-small is-left">
        <i class="fa fa-info"></i>
      </span>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Edit Location"/>
    </div>
  </div>
<% end %>

