<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Loket Event</strong>, Fork this repo <a href="https://github.com/mkhuda/loket-event">Here</a>.
      </p>
    </div>
  </div>
</footer>
